<!--This is a partial(or layout) file-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog App</title>
        <!--Semantic UI-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
    <div class="ui fixed inverted menu">
        <div class="ui container"><!--Similar to bootstrap container -->
            <div class="header item"><!-- similar to navbar brand-->
            <i class="icon heartbeat"></i>Hospital Site</div>
            <a href='/' class="item">Home</a>
            <a href='/patients/new' class="item">Enter Patient Data</a>
        </div>
    </div>  